.nav-bar,
.main-content {
    width: 70%;
    display: block;
    margin: 0 auto;
}

/* HERO BANNER */
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.411)), url('./images/desktop/image-hero.jpg') no-repeat center / cover;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
}

.logo {
    width: 10em;
}

#menu {
    display: none;
}

.close {
    display: none;
}

#menu-links li {
    display: inline-flex;
    flex-direction: column;
    padding: .5em;

    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#menu-links a {
    position: relative;
}

#menu-links a::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    transform: scaleX(0.2);
    transform-origin: center;

    background-color: hsl(0, 0%, 80%);
}

#menu-links a:hover::after {
    width: 100%;
    transform: scaleX(0.5);
}

.hero-text {
    max-width: 40em;
    margin: 15% 15% 10% 15%;
    border: 2px solid hsl(0, 0%, 100%);

    color: hsl(0, 0%, 100%);
}

.hero-text h1 {
    padding: 1em;
    font-size: 4em;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/* SECTION CONTENT */

.content-vr,
.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 9em auto;
}

.img-vr img {
    width: 65%;
}

.text-vr {
    position: absolute;
    width: 22em;
    right: 0;
    bottom: -5em;
    padding: 4.5em 0 4.5em 4.5em;
    background: hsl(0, 0%, 100%);
}

.text-vr h1 {
    font-size: 2em;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.text-vr p {
    padding-top: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 0%, 55%);
}

/* CARD SECTION */

.creations-btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em 0;
}

.creations-btn h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}

.creations-btn button {
    padding: .7em 2.5em;
    border: none;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-weight: 200;
    letter-spacing: .2em;
    border: 1px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
}

.creations-btn button:hover {

    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 0%);
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;

}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8 {
    position: relative;
    width: 100%;
    height: 28em;

}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p,
.card-5 p,
.card-6 p,
.card-7 p,
.card-8 p {
    position: absolute;
    bottom: 1em;
    padding: 0 1em;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 200;
    color: #fff;
}

.card-1 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-deep-earth.jpg") no-repeat center / cover;
}

.card-2 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-night-arcade.jpg") no-repeat center / cover;
}

.card-3 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-soccer-team.jpg") no-repeat center / cover;
}

.card-4 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-grid.jpg") no-repeat center / cover;
}

.card-5 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-from-above.jpg") no-repeat center / cover;
}

.card-6 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-pocket-borealis.jpg") no-repeat center / cover;
}

.card-7 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-curiosity.jpg") no-repeat center / cover;
}

.card-8 {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(255, 255, 255, 0) 100%), url("./images/desktop/image-fisheye.jpg") no-repeat center / cover;
}



@media (min-width:320px) and (max-width:801px) {

    .nav-bar,
    .main-content {
        width: 100%;
    }

    header {
        width: 100vw;
        height: 100vh;
        background: url('./images/mobile/image-hero.jpg') no-repeat center / cover;
    }

    .nav-content {
        display: flex;
        justify-content: space-between;
        margin: 0 1.2em;
    }

    .logo {
        width: 10em;
        padding-left: .5em;
        margin: 0;
        z-index: 2;
    }

    #menu {
        display: block;
    }

    .close {
        display: none;
        z-index: 2;
    }

    #menu-links {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: left;
        padding-top: 10em;
        line-height: 1em;
        width: 100%;
        right: 0;
        height: 100vh;
        top: 0;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 200;
        letter-spacing: .1em;

        background-color: #000;
    }

    #menu-links.active {
        display: flex;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55% 5%;
    }

    .hero-text h1 {
        padding: 1em;
        font-size: 2.5em;
    }

    /* VR SECTION */

    .content-vr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em auto;
    }

    .img-vr {
        width: 100%;
        display: block;
        margin: 3em auto;
    }

    .img-vr img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .text-vr {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .text-vr h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-vr p {
        padding: 3em;
        font-size: 1em;
        line-height: 2em;
        font-weight: 400;
        text-align: center;
    }

    /* CARD SECTION */
    .card-container {
        margin: 0 auto;
    }

    .creations-btn button {
        display: none;
    }

    .creations-btn h2 {
        display: block;
        margin: 0 auto;
        font-size: 1.8em;
    }

    /* CARDS */
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6,
    .card-7,
    .card-8 {

        width: 20em;
        height: 8em;
    }

    .card-1 p,
    .card-2 p,
    .card-3 p,
    .card-4 p,
    .card-5 p,
    .card-6 p,
    .card-7 p,
    .card-8 p {

        bottom: 0;
        padding: .5em;
        font-size: 2em;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;
    }


    .card-1 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-deep-earth.jpg") no-repeat center / cover;
    }

    .card-2 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-night-arcade.jpg") no-repeat center / cover;
    }

    .card-3 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-soccer-team.jpg") no-repeat center / cover;
    }

    .card-4 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-grid.jpg") no-repeat center / cover;
    }

    .card-5 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-from-above.jpg") no-repeat center / cover;
    }

    .card-6 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-pocket-borealis.jpg") no-repeat center / cover;
    }

    .card-7 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-curiosity.jpg") no-repeat center / cover;
    }

    .card-8 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.7455357142857143) 0%, rgba(1, 1, 10, 0) 35%, rgba(240, 240, 240, 0) 100%), url("./images/mobile/image-fisheye.jpg") no-repeat center / cover;
    }


}