header {
    background-image: url('./images/desktop/image-hero.jpg');
    background-size: cover;
    height: 80vh;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
}

.logo {
    width: 10em;
    padding-right: 10em;
}

.menu-icon {
    display: none;
}

.nav-links li {
    display: inline-flex;
    padding: 1em;

    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.hero-text {
    max-width: 32em;
    margin: 10% 12% 10% 12%;

    border: 2px solid hsl(0, 0%, 100%);

    color: hsl(0, 0%, 100%);
}

.hero-text h1 {
    padding: 1em;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}